.wrapper {
  margin: 0 auto;
  height: 80px;
  max-width: 1440px;
  position: relative;
}
.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.goBack {
  width: 31px;
  height: 30px;
}

.nav {
  display: flex;
  margin-top: 0;
  padding: 0 0;
  justify-content: center;
  list-style-type: none;
}

.nav > li:first-child {
  width: 100px;
}
.nav > li:nth-child(2) {
  width: 70px;
}
.nav > li:nth-child(3) {
  width: 70px;
}

.nav > li .category {
  height: 80px;
  display: flex;
  justify-content: center;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
  text-decoration: none;
}

.nav > li .activeLink {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
  font-family: "Raleway-SemiBold";
}

.optionsIcons {
  display: flex;
}
.myCard {
  width: 325px;
  height: 540px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  border: 2px solid #5ece7b;
}
.myCard h5 {
  display: flex;
  justify-content: flex-start;
  min-width: 118px;
  height: 26px;
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 0;
  padding-left: 16px;
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
}

.choosenProducts {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 325px;
  height: 350px;
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  color: #1d1f22;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.leftCard {
  width: 136px;
  min-height: 137px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}
.leftCard p {
  margin-top: 0;
}
.rightCard {
  display: flex;
  min-height: 137px;
  width: 135px;
  margin-right: 35px;
}

.addToCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 13px;
}
.buttonLeft {
  width: 140px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;

  font-family: "Raleway-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
  cursor: pointer;
}
.buttonLeft__link {
  text-decoration: none;
  font-family: "Raleway-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
}
.buttonRight {
  width: 140px;
  height: 43px;
  background: #5ece7b;
  font-family: "Raleway-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.totalSum {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
}
.totalAmount {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
  display: flex;
}
.totalAmount img {
  width: 24px;
  height: 24px;
  margin-top: 12px;
}
.currency__choose {
  position: absolute;
  width: 74px;
  padding-left: 0;
  margin-top: 35px;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}
.currencyList__item {
  list-style-type: none;
  margin-bottom: 20px;
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: flex;
  color: #1d1f22;
  cursor: pointer;
}

.currencyList__item img {
  pointer-events: none;
}

.currency {
  margin-right: 2px;
}
.arrowDown {
  width: 8px;
  height: 5px;
  margin-right: 22px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.cardIcon {
  position: relative;
}
.cardBox {
  margin-top: 5px;
  cursor: pointer;
}
.myBagItem {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -7px;
  border-radius: 30px;
  background-color: #1d1f22;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 2px;
}
.productName {
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
}
.productInfo {
  display: flex;
  margin-left: -5px;
}
.productInfo img {
  height: 24px;
  width: 24px;
}
.productInfo p {
  margin-bottom: 0;
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
}
.attributes {
  list-style-type: none;
  padding-left: 0;
}
.attributes__item__name {
  margin-bottom: 0;
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}
.attributesValue {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.attributesValue__item__swatch {
  margin-right: 8px;
  margin-bottom: 15px;
  margin-right: 12px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 24px;
  height: 24px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
}
.attributesValue__item {
  min-width: 24px;
  min-height: 24px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-right: 12px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.productName {
  margin-bottom: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}
.galleryPhoto {
  width: 105px;
  height: 137px;
}
.galleryPhotoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.count {
  display: flex;
  justify-content: center;
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  text-align: right;

  color: #1d1f22;
}
.choiceOfCurrency {
  display: flex;
  cursor: pointer;
}
.goToDescription {
  margin-top: 20px;
  width: 70px;
  height: 23px;
  background: #5ece7b;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.goToDescription__content {
  text-decoration: none;
  color: #ffffff;
}
